<div ng-controller='archiveController'>
<!-- navigation  -->
	<nav class="nav navbar-nav navbar-right">
	  <div class="container-fluid">
	    	<ul class="nav navbar-nav">
      			<li><a href="#/dashboard">Home</a></li>
      			<li><a href="#/company">Company</a></li>
		      	<li><a href="#/contact">Contact</a></li>
		      	<li><a href="#/events">Events</a></li>
		      	<li><a href="#/todo">Todo</a></li>
		      	<li><a href="#/">Logout</a></li> 
    		</ul>
	  </div>
	</nav></br>

	<!-- Welcome section and search -->
	<h2>Welcome {{currentUser.name}}</h2>
	<p>{{currentUser._id}}</p>
	</br>
	<p>archive page</p>

</div>