<!-- navigation  -->
<nav class="nav navbar-nav navbar-right">
  <div class="container-fluid">
    	<ul class="nav navbar-nav">
  			<li><a href="#/dashboard">Home</a></li>
  			<li><a href="#/compnay_new">New Company</a></li>
	      	<li><a href="#/contact_all">Contact</a></li>
	      	<li><a href="#/events">Events</a></li>
	      	<li><a href="#/todo">Todo</a></li>
	      	<li><a href="#/">Logout</a></li> 
		</ul>
  </div>
</nav></br>

<!-- Welcome section and search -->
<h2>Company Detail</h2>
<p>Welcome {{currentUser.name}} - {{currentUser._id}}</p>

<div class='col'>
	<div class="row_left">
		<p>Name: <span class="row_left_bold">{{companyDetail.name}}</span></p>
	</div>
	<div class="row_left">
		<p>Type: <span class="row_left_bold">{{companyDetail.type}}</span></p>
	</div>	
	<div class="row_left">
		<p>Location: <span class="row_left_bold">{{companyDetail.location}}</span></p>
	</div>
	<div class="row_left">
		<p>Website: <span class="row_left_bold">{{companyDetail.website}}</span></p>
	</div>
	<div class="row_left">
		<p>Address: <span class="row_left_bold">{{companyDetail.address}}</span></p>
	</div>
	<div class="row_left">
		<p>Main Number: <span class="row_left_bold">{{companyDetail.main_number}}</span></p>
	</div>
	<div class="row_left">
		<p>How found: <span class="row_left_bold">{{companyDetail.how_found}}</span></p>
	</div>
	<div class="row_left">
		<p>Size: <span class="row_left_bold">{{companyDetail.size}}</span></p>
	</div>
	<div class="row_left">
		<p>{{companyDetail.created_at}}</p>
	</div>
</div>
<div class="col">
	<div class="row_left">
		<p>Glassdoor score: <span class="row_left_bold">{{companyDetail.glassdoor_score}}</span></p>
	</div>
	<div class="row_left">
		<p>Google score: <span class="row_left_bold">{{companyDetail.google_score}}</span></p>
	</div>		
	<div class="row_left">
		<p>Rating: <span class="row_left_bold">{{companyDetail.rating}}</span></p>
	</div>
	<div class="row_left">
		<p>Got me work: <span class="row_left_bold">{{companyDetail.got_me_work}}</span></p>
	</div>	
	<div class="row_left">
		<p>Notes:</p>
		<textarea class="myinput" rows="3">{{companyDetail.notes}}</textarea>
	</div>
</div>
<br>

<!-- Table for all contacs within that company -->
<h4>Contact person in this company</h4>
<table class="table table-striped" style="border:1px solid tan;">
	<thead>
		<tr>
			<td>Name</td>
			<td>Work number</td>
			<td>Cell number</td>
			<td>Email</td>
			<td>Last contected</td>
			<td>Rating</td>
			<td>Action</td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="contact in contacts | orderBy: '-createdAt' | filter: filter_contact">
			<td>{{contact.first_name}} {{contact.first_name}}</td>
			<td>{{contact.work_number}}</td>
			<td>{{contact.cell_number}}</td>
			<td>{{contact.emial}}</td>
			<td>{{contact.last_contact_date}} {{contact.days}}</td>
			<td>{{contact.rating}}</td>
			<td><a href="#/contact/{{contact._id}}">Contact Detail</a></td>
		</tr>
	</tbody>
</table>