<!-- navigation  -->
<nav class="nav navbar-nav navbar-right">
  <div class="container-fluid">
    	<ul class="nav navbar-nav">
  			<li><a href="#/dashboard">Home</a></li>
  			<li><a href="#/company_new">New Company</a></li>
	      	<li><a href="#/contact">Contact</a></li>
	      	<li><a href="#/events">Events</a></li>
	      	<li><a href="#/todo">Todo</a></li>
	      	<li><a href="#/">Logout</a></li> 
		</ul>
  </div>
</nav></br>

<h2>All Companies</h2>

<!-- Welcome section and search -->
<p>Welcome {{currentUser.name}} - {{currentUser._id}}</p>
</br>

<div class="onRight">
	<label>Search:</label>
	<input type="text" ng-model="filter_name">
</div>

<!-- Table for all companies -->
<table class="table table-striped" style="border:1px solid tan;">
	<thead>
		<tr>
			<td>Name</td>
			<td>Location</td>
			<td>Website</td>
			<td>Glassdoor Score</td>
			<td>Rating</td>
			<td>Action</td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="company in companies | orderBy: '-createdAt' | filter: filter_name">
			<td>{{company.name}}</td>
			<td>{{company.location}}</td>
			<td>{{company.website}}</td>
			<td>{{company.glassdoor_score}}</td>
			<td>{{company.rating}}</td>
			<!-- <td><a href="#/company/{{company._id}}">Contact Detail</a></td> -->
			<td><input class="btn btn-primary" type="submit" ng-click="showCompany(company)" value="Company Detail"></td>
		</tr>
	</tbody>
</table>
