<!-- navigation  -->
<nav class="nav navbar-nav navbar-right">
  <div class="container-fluid">
    	<ul class="nav navbar-nav">
	      	<li><a href="#/dashboard">Home</a></li>
	      	<li><a href="#/new_contact">New Contact</a></li>
  			<li><a href="#/company">Company</a></li>
	      	<li><a href="#/events">Events</a></li>
	      	<li><a href="#/todo">Todo</a></li>
	      	<li><a href="#/archive">Archived</a></li>
	      	<li><a href="#/">Logout</a></li> 
		</ul>
  </div>
</nav></br>

<p>contact page</p>
<!-- Welcome section and search -->
<h2>Welcome {{currentUser.name}}</h2>
<p>{{currentUser._id}}</p>
</br>

<div class='col'>
	<div class="row_left">
		<label>First Name: </label>
		<p>{{contact.first_name}}</p>
	</div>
	<div class="row_left">
		<label>Last Name</label>
		<p>{{contact.last_name}}</p>
	</div>
	<div class="row_left">
		<label>Company</label>
		<p>{{contact.company}}</p>
	</div>
	<div class="row_left">
		<label>Work Email</label>
		<p>{{contact.work_email}}</p>
	</div>
	<div class="row_left">
		<label>Personal Email</label>
		<p>{{contact.personal_email}}</p>
	</div>
	<div class="row_left">
		<label>Cell Number</label>
		<p>{{contact.cell_number}}</p>
	</div>
	<div class="row_left">
		<label>Work Number</label>
		<p>{{contact.work_number}}</p>
	</div>
	<div class="row_left">
		<label>Other Number</label>
		<p>{{contact.other_number}}</p>
	</div>
</div>
<div class="col">
	<div class="row_left">
		<label>LinkedIn URL</label>
		<p>{{contact.linkedin}}</p>
	</div>	
	<div class="row_left">
		<label>How we meet</label>
		<p>{{contact.how_we_meet}}</p>
	</div>	
	<div class="row_left">
		<label>When we meet</label>
		<p>{{contact.we__meet_date}}</p>
	</div>	
	<div class="row_left">
		<label>Last contact</label>
		<p>{{contact.last_contact}}</p>
		<p>{{contact.last_contact_indays}}</p>
	</div>	
	<div class="row_left">
		<label>Rating</label>
		<p>{{contact.rating}}</p>
	</div>
	<div class="row_left">
		<label>Got me work</label>
		<p>{{contact.got_me_work}}</p>
	</div>	
	<div class="row_left">
		<label>Notes</label>
		<!-- <input class="myinput" type="text" ng-model="newC.notes"> -->
		<textarea class="myinput" row_lefts="4">{{contact.notes}}</textarea>
	</div>
</div>

<!-- Table for all contact  interaction -->
<table class="table table-striped" style="border:1px solid tan;">
	<thead>
		<tr>
			<td>Name</td>
			<td>Work number</td>
			<td>Cell number</td>
			<td>Email</td>
			<td>Last contected</td>
			<td>Rating</td>
			<td>Action</td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="contact in contacts | orderBy: '-createdAt' | filter: filter_contact">
			<td>{{contact.first_name}} {{contact.first_name}}</td>
			<td>{{contact.company}}</td>
			<td>{{contact.work_number}}</td>
			<td>{{contact.cell_number}}</td>
			<td>{{contact.emial}}</td>
			<td>{{contact.last_contact_date}} {{contact.days}}</td>
			<td>{{contact.rating}}</td>
			<td><a href="#/contact/{{contact._id}}">Contact Detail</a></td>
		</tr>
	</tbody>
</table>
