<!-- navigation  -->
<nav class="nav navbar-nav navbar-right">
  <div class="container-fluid">
    	<ul class="nav navbar-nav">
	      	<li><a href="#/dashboard">Home</a></li>
  			<li><a href="#/company">Company</a></li>
	      	<li><a href="#/events">Events</a></li>
	      	<li><a href="#/todo">Todo</a></li>
	      	<li><a href="#/archive">Archived</a></li>
	      	<li><a href="#/">Logout</a></li> 
		</ul>
  </div>
</nav></br>

<p>contact page</p>
<!-- Welcome section and search -->
<h2>Welcome {{currentUser.name}}</h2>
<p>{{currentUser._id}}</p>
</br>

<form  name="newContactform">
<div class='col'>
	<div class="row">
		<label>First Name</label>
		<input class="myinput" type="text" ng-model="newC.first_name" ng-minlength='5' required>
	</div>
	<div class="row">
		<label>Last Name</label>
		<input class="myinput" type="text" ng-model="newC.last_name" ng-minlength='2' required>
	</div>
	<div class="row">
		<label>Company</label>
		<input class="myinput" type="text" ng-model="newC.company">
	</div>
	<div class="row">
		<label>Work Email</label>
		<input class="myinput" type="email" ng-model="newC.work_email">
	</div>
	<div class="row">
		<label>Personal Email</label>
		<input class="myinput" type="email" ng-model="newC.personal_email">
	</div>
	<div class="row">
		<label>Cell Number</label>
		<input class="myinput" type="text" ng-model="newC.cell_number">
	</div>
	<div class="row">
		<label>Work Number</label>
		<input class="myinput" type="text" ng-model="newC.work_number">
	</div>
	<div class="row">
		<label>Other Number</label>
		<input class="myinput" type="text" ng-model="newC.other_number">
	</div>
	<div class="rowleft">
		<input class="btn btn-primary" type="submit" ng-click="answerCreate()" value="Submit">
	</div>
</div>
<div class="col">
	<div class="row">
		<label>LinkedIn URL</label>
		<input class="myinput" type="text" ng-model="newC.linkedin">
	</div>	
	<div class="row">
		<label>How we meet</label>
		<input class="myinput" type="text" ng-model="newC.how_contact">
	</div>	
	<div class="row">
		<label>When we meet</label>
		<input class="myinput" type="text" ng-model="newC.when_contact">
	</div>	
	<div class="row">
		<label>Last contact</label>
		<input class="myinput" type="text" ng-model="newC.last_contact">
	</div>	
	<div class="row">
		<label>Rate</label>
		<input class="myinput" type="number" ng-model="newC.rate" min="1" max="10">
	</div>
	<div class="row">
		<label>Got me work</label>
		<input class="myinput" type="text" ng-model="newC.got_me_work">
	</div>	
	<div class="row">
		<label>Notes</label>
		<!-- <input class="myinput" type="text" ng-model="newC.notes"> -->
		<textarea class="myinput" type="text" ng-model="newC.notes" rows="4"></textarea>
	</div>
</div>
</form>

