*{
	margin: 0px;
	padding: 0px;
}
.container{
	width: 970px;
	min-height: 200px;
	margin: 0 auto;
}

	.header{
		/*width:970px;*/
		min-height: 50px;
		border-top-right-radius: 8px;
		border-top-left-radius: 8px;
		background-color:#66c2ff;
		color: white;
		text-align: center;
	}
		.header h1, h3{
			padding: 5px;	
		}
		.header span{
			font-size: 24px;
		}
		.descr{
			text-align: left;
			margin-top: 15px;
			margin-left: 15px;
			padding-bottom: 15px;
		}
			.descr ul{
				margin-left: 20px;
			}

	.maincontent{
		background: linear-gradient(white, #ffe6cc);
		min-height: 200px;
		padding: 25px;
		/*text-align: center;*/
	}

		.onRight{
			margin: 10px 0px 20px 820px;
		}

		.col{
			display: inline-block;
			vertical-align: top;
			text-align: right;
			width: 48%;
		}

		.row {
			margin: 10px 0px 10px 0px;
		}

		.row_left{
			margin: 10px 0px 10px 0px;
			text-align: left;
		}
		.rowbutton{
			margin: 15px 0px 0px 170px;
			text-align: left;
		}

		.myinput{
			margin: 0px 30px 0px 10px;
			width: 60%;
		}

	.footer{
		/*width:970px;*/
		height: 100px:;
		border-bottom-right-radius: 8px;
		border-bottom-left-radius: 8px;
		background-color:#66c2ff;
		color: white;
		text-align: center;
	}	
		.footerSpace{
			margin-right: 20px;
		}